<html>

<body>
    <div>
        <p style="font-family: sans-serif;">Hi <%= obj.name%></p>
    </div>
    <div>
        <p style="font-family: sans-serif;">
            Thank you for wanting to join the Picky Pigs community! One of our team will get back to you shortly with
            more information on how to get started.
        </p>
    </div>
    <div>
        <p style="font-family: sans-serif;">Thanks very much,</p>
    </div>
    <div>
        <p>
            <span style="color: #cb007b; font-size: 1.25rem; font-family: Brandon Text !important; font-weight: bold; ">
                Picky Pigs
            </span>
            <img style="vertical-align: middle;"
                src="http://pickypigs.charlieandco.co.nz/static/media/logo.0b33457f.svg">
        </p>
    </div>
</body>

</html>